h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  background-color: pink;
}

.mainh2 {
  background-color: white;
}

h3 {
  text-align: center;
}

#button {
  margin-top: 25px;
  margin-bottom: 30px;
}

select {
  margin-bottom: 10px;
}

img{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#pintro {
  margin-top: 20px;
}

.titlePic {
  width:60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  margin-bottom: 30px;
}

.qtext {
  font-weight: bold;
}
.intro {
  display: none;
}
.rubyDescription {
  display: none;
}
.phpDescription {
  display: none;
}
.cssDescription {
  display: none;
}
.javaDescription {
  display: none;
}
/*#results {
  display: none;
  text-align: center;
}*/
