h1 {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  background-color: pink;
}

h3 {
  text-align: center;
}

select {
  margin-bottom: 10px;
}

img{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}

#pintro {
  margin-top: 20px;
}

.titlePic {
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  margin-bottom: 30px;
}

.qtext {
  font-weight: bold;
}
.intro {
  display: none;
}
.rubyDescription {
  display: none;
}
.phpDescription {
  display: none;
}
.cssDescription {
  display: none;
}
.javaDescription {
  display: none;
}
.mainh2 {
  background-color: white;
}

.answer {
  text-align: left;
}

.panswer {
  background-color: turquoise;
}

.clickMe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}
ul {
  font-size: 18px;
  margin-bottom: 30px;
}
.results {
  display: none;
  text-align: center;
}

#buttonHide {
  display: none;
}

#resultButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}

#buttonShow {
  display: none;
}

.panswer {
  font-weight: bold;
}
