h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

button {
  margin-top: 25px;
  margin-bottom: 25px;
}

select {
  margin-bottom: 10px;
}

img{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.titlePic {
  width:60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  margin-bottom: 30px;
}

.qtext {
  font-weight: bold;
}
